<div class="col mb-4">
  <div class="card w-100">
    <div class="card-body pb-0">
      <h5 class="card-title">{{ordemServicoList.pacienteNome}}</h5>
      <h6 class="card-subtitle mb-3 text-muted">{{ordemServicoList.postoColetaNome}}</h6>
      <p class="small mb-0 text-muted lh-120">Médico: {{ordemServicoList.medicoNome}}</p>
      <p class="small mb-0 text-muted lh-120">Convênio: {{ordemServicoList.convenio}}</p>
      <p class="small mb-2 text-muted lh-120">Realizado em {{ordemServicoList.dataExame | date: 'dd/MM/yyyy' }}</p>
      <div class="d-flex flex-row w-100 bd-highlight">
        <div class="bd-highlight">
          <p class="small text-success">Retirar em {{ordemServicoList.dataRetirada | date: 'dd/MM/yyyy' }}</p>
        </div>
        <div class="ml-auto bd-highlight">
          <a href="#" class="card-link small">Editar</a>
          <a href="#" class="card-link small">Excluir</a>
        </div>
      </div>
    </div>
  </div>
</div>
