/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~ngx-toastr/toastr';
@import '~ngx-bootstrap/datepicker/bs-datepicker.css';

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subheading {
  font-weight: 500;
  font-size: 1.5rem;
}

.social-icons .social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #f8f9fa;
  color: #007bff;
  border: 0.5px solid #007bff;
  border-radius: 100%;
  font-size: 1.5rem;
  margin-right: 1.5rem;
}

.social-icons .social-icon:last-child {
  margin-right: 0;
}

.social-icons .social-icon:hover {
  border: 0.5px solid #007bff;
  background-color: #007bff;
  color: #f8f9fa;
}

.lh-120 {
  line-height: 1.2;
}

.main-container {
  padding-top: 25px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 100px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}
